## Paired T Test

## Ten individuals have participated in a diet program for weight loss. Weights before and after the program is given. Is the program successful?

In [1]:
import pandas as mypandas
from scipy import stats as mystats

In [2]:
myData=mypandas.read_csv('.\datasets\Diet.csv')
myData

   Subject  Before  After
0        1      88     85
1        2      97     88
2        3     112    100
3        4      91     86
4        5      85     79
5        6      95     89
6        7      98     90
7        8     112    100
8        9     133    126
9       10     141    129

In [3]:
before=myData.Before
after=myData.After
mystats.ttest_rel(before,after)

Ttest_relResult(statistic=7.9125656807494442, pvalue=2.416349183463257e-05)

In [4]:
#hypothesis donot holds good means change is there

In [5]:
before.mean()

105.2

In [6]:
after.mean()

97.2