## Paired T Test

### The manager of a fleet of automobiles is testing two brands of radial tires. He assigns one tire of each brand at random to the two rear wheels of cars and run the cars untill the tire wear out. Compare the mean life of tires

In [1]:
import pandas as mypandas
from scipy import stats as mystats

In [2]:
myData=mypandas.read_csv(".\datasets\Tires.csv")
myData

   Brand_1  Brand_2
0    36925    34318
1    45300    42280
2    36240    35500
3    32100    31950
4    37210    38015
5    48360    47800
6    38200    37810
7    33500    33215

In [3]:
B1=myData.Brand_1
B2=myData.Brand_2

In [4]:
mystats.ttest_rel(B1,B2)

Ttest_relResult(statistic=1.903932074206155, pvalue=0.098634000410709438)

In [5]:
#P value is >.05 mans the hypothesis holds good
#border case

In [6]:
#marginally high
#as per the rule it is right
#but it more or less same